.wrapper {
    width: 60%;
    margin: 0 auto;
    border: 5px solid gray;
}
label {
    font-size: 20px;
}
.f_name , .l_name , .email , .password {
    width: 90%;
    height: 25px;
    padding: 10px;
    font-size: 18px;
}
/* table */
table {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
}
th , td {
    text-align: center;
    border: 1px solid black;
    
}